nav.navbar, .navbar-default {
  background-color: #2196f3 !important;
  border: 0px;
}

.navbar-default {
  background-image: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}